* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 7rem;
}

.container {
  width: 90%;
  margin: auto;

  margin: 0 auto 2rem auto;
  /* outline: 2px solid black; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
}

.nav-list {
  list-style: none;

  display: flex;

  align-items: center;
}

.list-item {
  margin: 0 2rem;
}

.list-item > a {
  text-decoration: none;

  color: black;
  font-weight: 500;
}

.list-item > a:hover {
  color: rgb(255, 147, 6);
}

.restaurant-card {
  width: 250px;
  padding: 1rem;
}

.restaurant-card:hover {
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.2);
}

.restaurant-card > * {
  margin-top: 10px;
}

.restaurant-card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
}

.body-content {
  margin-bottom: 3rem;
  text-align: center;
}

.footer {
  width: 100%;
  height: 5rem;

  background-color: #282c3f;
  color: whitesmoke;

  text-align: center;

  display: flex;
  justify-content: center;
}

.footer > p {
  align-self: center;
}

.search-input {
  width: 50%;
  height: 2rem;
  border-radius: 20px 20px 20px 20px;
  border: none;
  outline: none;

  padding: 1rem;

  box-shadow: 2px 2px 10px gray;
}

.search-container {
  width: 100%;
  margin-bottom: 2rem;
}

.search-container > button {
  width: 10%;
  height: 2rem;
  border-radius: 20px 20px 20px 20px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 10px gray;
  cursor: pointer;
  margin-left: 1rem;

  transition: 0.3s;
}

.search-container > button:hover {
  background-color: rgb(255, 147, 6);
  box-shadow: 2px 2px 10px rgb(255, 147, 6);
  color: whitesmoke;
}
.search-input:hover {
  box-shadow: 2px 2px 10px rgb(255, 147, 6);
}

.login-button {
  background-color: rgb(255, 147, 6);
  border-radius: 20px 20px 20px 20px;
  width: 4rem;
  height: 30px;

  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  box-shadow: 2px 2px 10px rgb(255, 147, 6);
  color: whitesmoke;
}

.shimmer-restolist-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-restolist-card {
  margin: 2rem;
}

.shimmer-restolist-top-div {
  width: 200px;
  height: 150px;
  background: rgb(226, 226, 226);
}

.shimmer-restolist-middle-div {
  width: 200px;

  height: 2rem;
  background: rgb(226, 226, 226);

  margin-top: 0.7rem;
}

.shimmer-restolist-bottom-div {
  width: 200px;

  height: 0.7rem;
  background: rgb(226, 226, 226);

  margin-top: 0.5rem;
}

.no-data-found-container {
  min-height: 50vh;
  background-color: #dbdbdd;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data-found-container > h1 {
  font-weight: 800;
  font-size: 4rem;
}
