* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 7rem;
}

.container {
  width: 90%;
  margin: auto;

  margin: 2rem auto;
  /* outline: 2px solid black; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
}

.nav-list {
  list-style: none;

  display: flex;
}

.list-item {
  margin: 0 2rem;
}

.list-item > a {
  text-decoration: none;

  color: black;
}

.restaurant-card {
  width: 250px;
  padding: 1rem;
}

.restaurant-card:hover {
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.2);
}

.restaurant-card > * {
  margin-top: 10px;
}

.restaurant-card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
}

.body-content {
  margin-bottom: 3rem;
}

.footer {
  width: 100%;
  height: 5rem;

  background-color: #282c3f;
  color: whitesmoke;

  text-align: center;

  display: flex;
  justify-content: center;
}

.footer > p {
  align-self: center;
}
